<div ng-controller="LoginController">
 <h2>Login</h2>
        <input type="text" placeholder="User" ng-model="username">
        <br>
        <input type="text" placeholder="Pass" ng-model="password">
        <br/>
        <button type="button" ng-click="login()">Login</button>
        <br/>
        <br/>
        <div ng-bind="message" class="{{status}}" ></div>
        

        <div >
            <input type="text" placeholder="Name" ng-model="name"> <br/>
            <button type="button" ng-click="sayHello()">Say Hello</button>
        </div>
		<div>
		<button type="button" ng-click="basicLogin()">Basic Login</button> {{$root.authenticated}}
		</div>
		<br/>
		<div>
		<button type="button" ng-click="logout()">Logout</button> 
		</div>
</div>